html, body {
    background-image: url("../imagens/fundo.jpg");
    font-family: 'Fredoka One', cursive;
    margin: 0;
    padding: 0;
  }
  main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  canvas{
    border: solid 2px black;
    border-radius: 10px;
    position: relative;
  }

  .principal{
    width: 100%;
  }

  .principal-titulo{
    margin-bottom: 50px;
    text-align: center;
  }

  .som{
    margin-top: 475px;
    margin-left: 650px;
    position: absolute;
    z-index: 100; 
  }

  .som-imagem{
    cursor: pointer;
    width: 25px;
    height: 25px;
  }

  .play{
    margin-top: 475px;
    margin-right: 650px;
    position: absolute;
    z-index: 100;
  }

  .play-imagem{
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .comecar{
    margin-top: 100px;
    position: absolute;
    z-index: 100;
  }

  .comecar-imagem{
    cursor: pointer;
    height: 150px;
    width: 250px;
  }

  .comecar-imagem:hover{
    height: 170px;
    transition: .5s;
    width: 290px;
  }

  .intrucoes{
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    margin: 50px 100px;
    padding: 25px;
  }

  .intrucoes-paragrafo{
    color: rgb(70, 69, 69);
    text-align: justify;
  }

  .intrucoes-jogar{
    color: rgb(70, 69, 69);
    text-align: justify;
  }

  .intrucoes-versao{
    color: red;
    font-size: 14px;
  }
